name: Publish Docker Image

on:
  push:
    branches:
      - main
      - docker-dev

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login GHCR
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build (docker-dev)
        if: github.ref == 'refs/heads/docker-dev'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false

      - name: Build & Push (main)
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/jimce-music/sound-provider-youtube:latest
            ghcr.io/jimce-music/sound-provider-youtube:${{ github.sha }}
